body{
    margin: 0;
    padding: 0;
}
#rock{
    position: relative;
}

.hero-image {
    top: 0px;
    left: 0;
    right: 0;
    height: 600px;
    position: absolute;
    margin: 0 auto;
}

.logo {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    top: 50%;
    right: 0;
    height: 175px;
    left: 0;
}
  .wrapper{
      height: 6000px;
  }
