body{
    margin: 0;
    padding: 0;
}

#hero-image {
    background-image: url('images/rockyimage1.jpg');
    top: 0px;
    left: 550px;
    width: 50px;
    height: 600px;
    position: fixed;

  }
  .logo{
      
      padding: 0px;
      margin: 0px;
      top: 0px;
      right: 0px;
      height: 175px;
      
  }
  .wrapper{
      height: 6000px;
  }